$backgorund-body-left:#FAF8F5;
$backgorund-body-right:#A9D6CB;
$color-buttom-text:#264065;
$color-buttom-subtitle:#909090;

$font-text-title:64px;
$font-text-subtitle-1:24px;
$font-text-subtitle-2-header:18px;
$font-text-normal:'Poppins', sans-serif;
$font-text-more-sign-in:"Nunito Sans", sans-serif;

$dimension-right:160px;
$dimension-top:33px;
$dimension-bottom:118px;